.sfondo{
    background-image: url(../images/Area_utente_background.jpg); /*immagine provvisoria*/
    background-repeat: no-repeat;
    background-size: 100% ;
}
.content{
    max-width: 1024px;
    margin: 0 auto;
    background-color: rgba(173, 216, 230, 0.555);
    padding: 3em 0;
    text-align: center;
}


form .dati{
    width: 50%;
    margin: 0 auto;
}

.avatar{
    float: left;
    margin-top: 3em;
    margin-left: 12%;
}
.avatar p{
    margin-top: 3em;
}

.avatarimage {
    background-image: url("../images/immagineUtente.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 3em 4.5em;
}

.editavatar{
    display: none;
}

.groupbuttons{
    float: right;
    display: flex;
    flex-direction: column;
}

.button {
    text-align: right;
    margin: 0;
}
.button .reset{
    display: inline;
    color: whitesmoke;
    background-color: indianred;
    border-style: outset;
    border-color: orangered;
    border-radius: 0.25em;
    padding: 0.2em;
    margin: 0 .25em;
}
.button .save{
    display: inline;
    color: whitesmoke;
    background-color: limegreen;
    border-style: outset;
    border-color: lime;
    border-radius: 0.25em;
    padding: 0.2em;
    margin: 0 .25em;
}

.toBottom{
    margin-top: 31.5em;
}

.dati {
    text-align: left;
}

.dati *{
    display: block;
    margin: 0;
}

.group{
    padding: 1em;
    margin: 1em 3em;
    border-style: solid;
    border-color: floralwhite;
    border-width: 2px
}

.block{
    display: block;
    margin-top: .5em;
}

.extend{
    margin-top: 1em;
    margin-bottom: 2em;
}

.checkboxes{
    float: right;
    margin-top: -.5em;
    margin-right: 38%;
}

.inline{
    display: inline;
}