.content{
    padding: 3em 0;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}


form .datiAccount{
    width: 50%;
    margin: 0 auto;
}

.avatar{
    float: left;
    margin-top: 3em;
    margin-left: 12%;
}
.avatar input{
    display: none;
}

.avatarImage {
    background-image: url("../images/immagineUtente.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 4em 5em;
    display: block;
}

.custom-file-upload {
    border: 1px solid #202020;
    padding: 0 .3em;
    cursor: pointer;
    background-color: steelblue;
    color: white;
    float: right;
    position: relative;
    bottom: 1.34em;
}


.saveResets {
    float: right;
    text-align: right;
    margin: 0;
}
.saveResets #reset{
    display: inline;
    color: whitesmoke;
    background-color: indianred;
    border-style: outset;
    border-color: orangered;
    border-radius: 0.25em;
    padding: 0.2em;
    margin: 0 .25em;
}
.saveResets #save{
    display: inline;
    color: whitesmoke;
    background-color: limegreen;
    border-style: outset;
    border-color: lime;
    border-radius: 0.25em;
    padding: 0.2em;
    margin: 0 .25em;
}

.datiAccount {
    text-align: left;
}

.datiAccount *{
    display: block;
    margin: 0;
}

.groupBox{
    padding: 1em;
    margin: 1em 3em;
    border-style: solid;
    border-color: floralwhite;
    border-width: 2px
}