.content{
    padding: 3em 0;
    background-color: rgba(255, 255, 255, 0.2);
}


.avatarImage {
    float: left;
    margin-top: 3em;
    margin-left: 15%;
    width: 10em;
    height: 8em;
}

.datiAccount{
    list-style-type: none;
    width: 50%;
    margin: 0 auto;
}

.datiAccount li{
    padding: 1.2em 0;
    margin-left: 5em;
    text-align: left;
}