*{
    margin: 0px;
    padding: 0px;
}

body { 
    font-size:0.9em; 
    font: italic small-caps bold, 0.8em/1.5 arial, Helvetica, sans-serif;
}

#header a{
    float: left;
}
#header h1 { 
    font-size: 2em; 
    text-align: center;
}
#header h2 { 
    font-size: 1.5em; 
    text-align: center;
}

#menu li{
    display:inline;
}
