* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 0.9em;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    background-color: #262626;
    overflow-x: hidden;
}

.scheda_laterale {
    background-color: white;
    list-style-type: none;
    width: 15%;
    border-left: 1px solid #dddcdc;
    padding-left: 1em;
    padding-right: 1.5em;
    float: right;
}

.top_column {
    display: flex;
    flex-direction: column;
    ;
    flex-wrap: no-wrap;
}

.top_list {
    width: 100%;
    list-style-type: none;
    padding: 0.2em 0em;
    overflow: auto;
}

.top_list img {
    float: left;
    width: 50%;
}

.top_column {
    display: flex;
    flex-direction: column;
    ;
    flex-wrap: nowrap;
}

.top_list {
    width: 100%;
    list-style-type: none;
    padding: 1em 0em;
    overflow: auto;
}

.top_list img {
    width: 100%;
}

.categoria-hardware {
    background-color: green;
    color: white;
    padding: .3em .5em;
}

.categoria-console {
    background-color: chocolate;
    color: white;
    padding: .3em .5em;
}

.categoria-videogiochi {
    background-color: red;
    color: white;
    padding: .3em .5em;
}

.categoria-altro {
    background-color: aqua;
    color: white;
    padding: .3em .5em;
}

.hide{
    display: none;
}
@media screen and (max-width: 100%) {
    .scheda_laterale {
        display: none;
    }
}
