#footer {
    text-align: center;
    background-color: black;
    bottom: 0;
    padding: 1em 0 1em 0;
}

#footer li {
    list-style: none;
    padding-bottom: 0.7em;
}

.footerInline {
    float: left;
    width: 33.33%;
}

#footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: white;
}

.footerInline p {
    font-size: 1.25em;
    padding-bottom: 0.8em;
}

#imgsFooter {
    clear: both;
}