#guida{
    background-image: url("../images/guide/img_bkgr.jpg");
    background-color: #8cb0f2;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 1px solid black;
    height: 70%;
    scroll-behavior: smooth;
    text-align: center;
}

/*background-color: rgba(250, 235, 215, 0.5);*/