#contentLogin {
    background-color:rgba(0, 0, 0, 0);
    margin: 3em auto;
}

.signIn {
    margin: 0em 25em;
    padding: 1em 2em;
    background-color: white;
    border-radius: 2em;
}

.imageLogin {
    background-image: url(../images/login.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 2em 2em;
    width: 2%;
    display: block;
    margin: 0em auto;
}

form {
    display: block;
    text-align: center;
    margin: 2em 5em;
}

.signIn p {
    margin-top: 2em;
    font-size: 70%;
}

.pulsantiLogin {
    margin-top: 2em;
}

