/* rimozione transizioni*/
.topArticles li img {

    transition: none;
}

.topArticles li img:hover {

    transform: none;
}

/*--------------------fine----------------------------------------------------*/
/* Dichiarazione dimensione font*/
.articleListDesc, .shortDesc, .writer, .description p, .comment p, .pro, .contro, #ListaCommenti p, #ScriviCommento label, #ScriviCommento textarea {
    font-size: 2.5em;
    line-height: 2em;
}

.topArticles a .topArticleTitle, .categoriaGenerale, .index, .articleListTitle {
    font-size: 2em;
}

.voto p {
    font-size: 3em;
}

.intestazione h1, .description h2, .comment h3, #TitoloCommenti {
    font-size: 5em;
}

/*fine dichiarazione dimensione font*/
/*cerchero di fare una soluzione migliore con javascript(.topArticles li:last-of-type rimmarrà display none)*/
.flexColumn:last-of-type, #search, .topArticles li:last-of-type {
    display: none;
}

/*-------------------------------------------------------------------------*/
/*---------Header-----------*/
#header {
    position: sticky;
    top: 0;
    z-index: 1;
}
#logoDesktop {
    display: none;
}
#logoMobile {
    display: inherit;
}

#mobileMenu {
    display: unset;

}

#openButton {
    margin-left: 1em;
    overflow: hidden;
    cursor: pointer;
}

.openButton-js-hidden {
    opacity: 0;
    visibility: hidden;
}

#closeButton {
   display: initial;
    position: absolute;
    top: -10.75em;
    left: 1em;
    cursor: pointer;
}

.closeButton:before, .closeButton:after {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

#menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 15em;
    padding: 30px;
    box-sizing: border-box;
    background-color: #1c1c1c;
    box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.14), 1px 0 10px 0 rgba(0, 0, 0, 0.12), 2px 0 4px -1px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    z-index: 500;
}

#mobileList {
    padding: 0;
    margin: -1em 0 0 0;
    list-style-type: none;
    font-size: 1.5em;
}
#mobileList li {
    margin-top: 1em;
    text-align: center;
    font-size: 2em
}
#mobileList a{
    text-decoration: none;
    color: white;
    padding: 0 8em;
}

#mobileList #currentlink{
    color: lawngreen;
    font-weight: bolder;
}

.menu--offcanvas-1 {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    left: -17em;
    /* opened styles */
}

#menu--offcanvas-1-js-opened {
    transition-property: left;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
    left: 0;
    opacity: 1;
    position: sticky;
    top: 10em;
    z-index: 1;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    background-color: #1c1c1c;
    visibility: visible;
}
#logo {
    margin: 1em auto 1.5em auto;
    flex: none;
    height: inherit;
}
#mobileButton{
    display: initial;
    width: 100%;
}
#searchBarMobile button {
    display: initial;
    position: absolute;
    background: transparent;
    border: none;
    top: 3.5em;
    right: 9em;
}
#searchBarMobile input {
    display: inherit;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: unset;
    height: 4.6em;
    width: 100%;
    font-size: 3em;
    border: 3px solid #0E9C09;
}
#searchBar button {
    display: none;
}

#closeSearchBar {
    display: initial;
    position: absolute;
    top: 0;
    right: 0;
    padding: 3em 1em 2em 1em;
}
#mobileButtonHidden {
    display: none;
}
.headerChild:last-of-type {
    margin-left: 1em;
}
.headerChild:last-of-type img {
    width: 100%;
}
/*-------- fine Header --------*/


.topArticles, .diffs {
    flex-wrap: wrap;
}

.topArticles li:first-of-type, .diffs div {
    flex: 100%
}

.topArticles li:nth-of-type(2), .topArticles li:nth-of-type(3) {
    flex: 50%;
}
.topArticles li img {
    height: unset;
}
.articleList li {
    border-top: 5px solid #dddcdc;
}

/*--------- Articoli + recensioni -------*/
.intestazione h1 {
    margin-left: 0.3em;
    padding-top: 0.5em;
}

.shortDesc,
.writer {
    margin-left: 1em;
    margin-right: 1em;
}

.index, .description h2, #TitoloCommenti {
    border: none;
}


.index {
    float: none;
    margin-bottom: 0;

}

.articleList {
    width: 100%;
}

.articleList li img {
    width: 100%;
    height: unset;
    float: none;
    margin: 0;
}
#hiddenArticle li:first-of-type {
    display: inherit;
}

.categoriaGenerale {
    position: relative;
    top: 1.81em;
}

#button {
    display: none;
}


.description img {
    width: 95%;
    margin: 2em auto 0 auto;
}

.description p{
    padding: 1em 1em 0 1em;

}

.description h2, #TitoloCommenti {
    margin: 1em 0.5em 0 0.5em;
}

.voto {
    margin-top: 1em;
}


.voto p:first-of-type {
    margin: 0 auto;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
}

.comment {
    margin: 0 2em;
    padding: 0.5em 2em;
}

.comment h3 {
    text-align: center;
}

.comment p, .pro, .contro, .diffs h3{
    margin: 0;

}

.pro {
    list-style-image: url("../images/icons/correctMobile.png");
}

.contro {
    list-style: url("../images/icons/wrongMobile.png");
}

/*fine articoli + recensioni*/
/*--------footer--------*/
#footer {
    display: none;
}

/*--------fine footer------*/


/*----------------login--------------*/


#menuMobileLogin {
    background-color: #525252;
    display: flex;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 5em;
}

.FormLogin {
    border: none;
}

.FormLogin legend {
    display: none;
}

#menuMobileLogin img {
    display: none;
    /*display: block;   MOD1 */
    color: white;
    width: 150px;
    font-size: 4em;
}

#menuMobileLogin h1 {
    display: block;
    color: white;
    /*padding-right:150px;    MOD1 */
    margin: auto;
    font-size: 6em;
}

#contentLogin {
    background-image: linear-gradient(#525252, #393939, #262626, #131313, black);
}

.pulsantiLogin a {
    display: block;
    /* padding: 0.13em 2.6em; */
    color: black;
    font-size: 3.5em;
    font-family: Arial;
    background-color: #F0F0F0;
    border-radius: 25px;
    border: 3px solid #0E9C09;
    text-decoration: none;
}

.signIn {
    background-color: transparent;
    font-size: 2em;
}

.contentLog form {
    margin: 0em;
    padding: 0em;
}

.signIn strong {
    display: none;
}

.signIn p {
    display: none;
}

.imageLogin {
    display: none;
}

.passwordLog {
    text-align: center;
}

.passwordLog input[type="password"] {
    font-size: 2em;
}

.passwordLog label {
    display: none;
}

.passwordLog {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

.passwordLog input {
    padding-bottom: 0.2em;
    margin-left: 0.7em;
    align-self: flex-end;
    width: 100%;
    font-size: 2.5em;
}

.passwordLog img {
    display: inherit;
    width: 150px;
    margin: 1em 0em 0em 0.7em;
}

.emailLog {
    text-align: center;
    display: flex;
    align-self: center;
}

.emailLog label {
    display: none;
}

.emailLog input {
    padding-bottom: 0.2em;
    width: 100%;

}

/*
.emailLog input[type="text"] {
    width: 100%;
}
*/
.emailLog img {
    display: block;
    width: 150px;
    margin-right: 1em;
}

.contentLog input {
    font-size: 2em;
    text-align: center;
}

#AccediLogin {
    margin-top: 2em;
    padding: 0.1em 2.6em;
}

#AccediLogin, #RegistratiLoginMobile {
    font-size: 3em;
}

#scrittaReg {
    display: none;
}

#scrittaLog {
    display: block;
    color: white;
    font-size: 1.5em;
    margin-top: 4em;
}

#RegistratiLoginMobile {
    display: block;
    padding: 0em 2em;
    margin: 0em auto;
}


.pulsantiLogin p {
    display: contents;
    color: white;
    font-size: 2em;
}


/*----------------registrazione--------------*/


.menuMobileReg {
    display: inherit;
    text-align: center;
    background-color: #525252;
}

.menuMobileReg img {
    float: left;
    width: 7em;
}

.menuMobileReg h1 {
    color: white;
    /* margin-right: 1em;    MOD3 */
    padding: 0.2em;
    font-size: 4em;
}

input#bottoneIndietroReg {
    display: none;
}

.confermaAccountReg input {
    padding: 0.3em;
    margin-left: 1.5em;
    width: 12em;
}

#contentRegistrazione h1 {
    display: none;
}

#contentRegistrazione {
    padding-top: 2em;
    font-size: 1.7em;
    background-color: rgba(0, 0, 0, 0);
}

.contentReg {
    padding-top: 3em;
    background-image: linear-gradient(#525252, #393939, #262626, #131313, black);
}

.contentReg fieldset legend {
    /*display: none;*/
    color: white;
}

.contentReg fieldset {
    padding: 1em;
}

#secondReg {
    margin-top: 3em;
}

.contentMobileReg form {
    margin: 0em auto;
    text-align: left;
    width: 18em;
}

.ManageReg input {
    text-align: center;
    font-size: 1.5em;
    margin-left: 2em;
    float: right;
}

.contentReg label {
    color: white;
}

.contentReg form {
    margin-left: 3em;
}

.ManageReg {
    display: inline-flex;
    margin-top: 1em;
    float: right;
}

.pulsantiMobileReg input {
    font-size: 2em;
    margin-top: 2em;
    padding: 0.2em;
    border-radius: 0.2em;
}


.footer {
    box-sizing: border-box;
    clear: both;
    font-size: 2em;
    background-color: darkslateblue;
    color: whitesmoke;
    padding: 1em;
    text-align: center;
}

/*----------------FINE registrazione--------------*/
/*----------------Area Utente---------------------*/
#avatar {
    max-width: 350px;
}

#datiAccount {
    max-width: unset;
    font-size: 2.5em;
    margin: 1em 1em 1em 2em;
}
#datiAccount li{
    margin: 0;
}
.groupBox {
    margin: 1em;
}

#datiAccount fieldset label {
    margin: .2em 0;
}

#datiAccount .groupBox input {
    padding: .2em;
    font-size: 1.5em;
}

#save label {
    display: block;
    font-size: 3em;
    margin: 1em 5em;
}

#buonFine, #errori {
    font-size: 1.8em;
}

/*------------------------------------------------*/
/*-----------------------Commenti-----------------
si fa riferimento ai commenti anche fuori da questo
blocco per evitare codice duplicato */

#ScriviCommento p {
    padding: 0;
}

#ScriviCommento #commenta {
    font-size: 2em;
}

#ListaCommenti p{
    font-size: 3em;
}

.commento {
    font-size: 2.5em;
    line-height: 2em;
}

.commento .miPiace {
    background-size: 144px;
    width: 48px;
}

.commento .delete{
    width: 48px;
    background-size: 100%;
}

/*------------------------------------------------*/