/* rimozione transizioni*/
.topArticles li img, .headerChild:nth-of-type(1) a img {

    transition: none;
}

.topArticles li img:hover, .headerChild:nth-of-type(1) a img:hover {

    transform: none;
}

/*--------------------fine----------------------------------------------------*/
/* Dichiarazione dimensione font*/
.articleListDesc, .shortDesc, .writer, .description p, .comment p, .pro, .contro, #ListaCommenti p, #ScriviCommento label, #ScriviCommento textarea{
    font-size: 2.5em;
    line-height: 2em;
}

.topArticles a .topArticleTitle, .categoriaGenerale, .index, .articleListTitle {
    font-size: 2em;
}

.voto p {
    font-size: 3em;
}

.intestazione h1, .description h2, .comment h3, #TitoloCommenti {
    font-size: 5em;
}

/*fine dichiarazione dimensione font*/
/*cerchero di fare una soluzione migliore con javascript(.topArticles li:last-of-type rimmarrà display none)*/
.flexColumn:last-of-type, .menu, #search, .topArticles li:last-of-type {
    display: none;
}

/*-------------------------------------------------------------------------*/
/*---------Header-----------*/
/*Da impelementare da meglio con js non usando i display none*/
/*---------Menu-----------*/
/*Da impelementare da meglio con js non usando i display none*/
/*-------- Menu --------*/
/*-------- fine Header --------*/

.topArticles, .diffs {
    flex-wrap: wrap;
}

.topArticles li:first-of-type, .diffs div {
    flex: 100%
}

.topArticles li:nth-of-type(2), .topArticles li:nth-of-type(3) {
    flex: 50%;
}

/*--------- Articoli + recensioni -------*/
.intestazione h1 {
    margin-left: 0.3em;
    padding-top: 0.5em;
}

.shortDesc,
.writer {
    margin-left: 1em;
    margin-right: 1em;
}

.index, .description h2, #TitoloCommenti {
    border: none;
}


.index {
    float: none;
    margin-bottom: 0;

}


.description img {
    width: 95%;
    margin: 2em auto 0 auto;
}

.description p, #ListaCommenti p {
    padding: 1em 1em 0 1em;

}

.description h2, #TitoloCommenti {
    margin: 1em 0.5em 0 0.5em;
}

.voto {
    margin-top: 1em;
}


.voto p:first-of-type {
    margin: 0 auto;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
}

.comment {
    margin: 0 2em;
    padding: 0.5em 2em;
}

.comment h3 {
    text-align: center;
}

.comment p, .pro, .contro, .diffs h3, #ListaCommenti{
    margin: 0;

}

.pro {
    list-style-image: url("../images/icons/correctMobile.png");
}

.contro {
    list-style: url("../images/icons/wrongMobile.png");
}

/*fine articoli + recensioni*/
/*--------footer--------*/
#footer {
    display: none;
}

/*--------fine footer------*/


#header {
    display: none;
}

/*----------------login--------------*/


#menu {
    display: none;
}

.menuMobileLogin img {
    float: left;
    width: 1em;
}

.menuMobileLogin {
    display: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

#menuMobileLogin h1 {
    color: white;
    margin-right: 2em;
    padding: 0.2em;
    font-size: 4em;
}

.signIn {
    background-color: transparent;
}

.contentLog form {
    margin: 0em;
    padding: 0em;
}

.signIn strong {
    display: none;
}

.signIn p {
    display: none;
}

.imageLogin {
    display: none;
}

.passwordLog {
    text-align: center;
}

.passwordLog input[type="password"] {
    font-size: 2em;
}

.passwordLog label {
    display: none;
}

.passwordLog {
    display: flex;
    align-items: center;
    margin-top: 2em;
}

.passwordLog input {
    padding-bottom: 0.2em;
    margin-left: 0.7em;
    align-self: flex-end;
}

.passwordLog img {
    display: inherit;
    margin: 1em 0em 0em 1em;
}

.passwordLog input[type="password"] {
    font-size: 2.5em;
}

.emailLog {
    text-align: center;
    display: flex;
    align-self: center;
}

.emailLog label {
    display: none;
}

.emailLog input {
    padding-bottom: 0.2em;
}

.emailLog input[type="text"] {
    font-size: 2.5em;
}

.emailLog img {
    display: block;
    width: 15%;
    margin-right: 1em;
}

.contentLog input {
    text-align: center;
}

#AccediLogin {
    margin-top: 2em;
    padding: 0em 2.7em;
}

#AccediLogin, #RegistratiLoginMobile {
    font-size: 3.5em;
}

#scrittaReg {
    display: none;
}

#scrittaLog {
    display: block;
    color: white;
    font-size: 1.5em;
    margin-top: 5em;
    margin-bottom: 0.5em;
}

#RegistratiLoginMobile {
    display: block;
    padding: 0em 2em;
    margin: 0em auto;
}

.pulsantiLogin {
    margin-left: 2em;
}

.pulsantiLogin p {
    display: contents;
    color: white;
    font-size: 2em;
}

.pulsantiLogin p a {
    color: white;
    margin-top: 3em;
}


/*----------------registrazione--------------*/


.menuMobileReg {
    display: inherit;
    text-align: center;
    background-color: #525252;
}

.menuMobileReg img {
    float: left;
    width: 7em;
}

.menuMobileReg h1 {
    color: white;
    margin-right: 1em;
    padding: 0.2em;
    font-size: 4em;
}

input#bottoneIndietroReg {
    display: none;
}

.confermaAccountReg input {
    padding: 0.2em 3.6em;
    font-size: 2em;
    margin-left: 2.5em;;
}

#contentRegistrazione h1 {
    display: none;
}

#contentRegistrazione {
    padding-top: 2em;
    font-size: 1.7em;
    background-color: rgba(0, 0, 0, 0);
}

.contentReg {
    padding-top: 3em;
    background-image: linear-gradient(#525252, #393939, #262626, #131313, black);
}

.contentReg fieldset legend {
    /*display: none;*/
    color: white;
}

.contentReg fieldset {
    padding: 1em;
}

#secondReg {
    margin-top: 3em;
}

.contentMobileReg form {
    margin: 0em auto;
    text-align: left;
    width: 18em;
}

.ManageReg input {
    text-align: center;
    font-size: 1.5em;
    margin-left: 2em;
    float: right;
}

.contentReg label {
    color: white;
}

.contentReg form {
    margin-left: 3em;
}

.ManageReg {
    display: inline-flex;
    margin-top: 1em;
    float: right;
}

.pulsantiMobileReg input {
    font-size: 2em;
    margin-top: 2em;
    padding: 0.2em;
    border-radius: 0.2em;
}


.footer {
    box-sizing: border-box;
    clear: both;
    font-size: 2em;
    background-color: darkslateblue;
    color: whitesmoke;
    padding: 1em;
    text-align: center;
}

/*----------------FINE registrazione--------------*/
/*----------------Area Utente---------------------*/
#avatar{
    max-width: 350px;
}

.datiAccount{
    max-width: unset;
    margin: 1em 0;
    font-size: 2.5em;
}

.groupBox{
    margin: 1em;
}
.datiAccount fieldset label {
    margin: .2em 0;
}
.datiAccount .groupBox input {
    padding: .2em;
    font-size: 1.5em;
}

#save label{
    display: block;
    font-size: 3em;
    margin: 1em 5em;
}
#buonFine, #errori{
    font-size: 1.8em;
}
/*------------------------------------------------*/
/*-----------------------Commenti-----------------
si fa riferimento ai commenti anche fuori da questo
blocco per evitare codice duplicato */

#ScriviCommento{
    margin: 1em 2.5em 4em;
}
#ScriviCommento p{
    padding: 0;
}
#ScriviCommento #commenta{
    font-size: 2em;
}

.commento{
    margin: 1em 1em;
    font-size:2.5em;
    line-height:2em;
}
#ListaCommenti p{
    padding: 0;
}
.commento .miPiace{
    background-size: 144px;
    width: 48px;
}
/*------------------------------------------------*/