p {
    padding: 1em;
}

a {
    text-decoration: none;
}

.shortDesc {
    color: rgb(141, 135, 135);
}

.writer {
    color: chocolate;
}

.index {
    border-left: 2px solid #dddcdc;
    max-width: 14.5em;
    float: right;
    margin-left: .9em;
    margin-bottom: 2em;
    padding: 2em .5em 2em 2em;
}

.index h2 {
    color: red;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 1em;
}
/*
.index li {
    list-style: none;
}*/

.index li a:link {
    color: orangered;
}

.index li a:visited {
    color: indianred;
}

.index li a:hover {
    color: darkred;
}
