.intestazione h1 {
    text-align: center;
    padding-top: 1.2em;
    padding-bottom: 0.5em;
    font-size: 3em;
    font-style: normal;
}

img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 15em 20em;
    width: 2%;
    display: block;
    margin: 0 auto;
}

#img1Vampyr {
    padding: 0;
    width: 60%;
    display: block;
    padding-left: 10em;
    margin: 0 auto;
}

#img2Vampyr {
    background-image: url(../images/Recensioni/vampyr2.jpg);
}

#img3Vampyr {
    background-image: url(../images/Recensioni/vampyr3.jpg);
}

#img4Vampyr {
    background-image: url(../images/Recensioni/vampyr4.jpg);
}

#img5Vampyr {
    background-image: url(../images/Recensioni/vampyr5.jpg);
}

.shortDesc {
    color: rgb(141, 135, 135);
    margin-left: 1em;
}

.writer {
    color: red;
    margin-left: 1em;
}

.dataCorsivo {    
    font-style: oblique;
}

.index {
    max-width: 16em;
    border: 1px solid #000;
    float: right;
    margin: 2.1em 1em 2em 2em;
    padding: 2em;
}

.index h3 {
    padding-bottom: 0.5em;
}

.description p {
    margin: 2em 6em;
}

.description h2 {
    border-bottom: 0.1em solid ;
    margin-left: 3.3em;
    margin-top: 3em;
    margin-right: 7em;
    font-size: 1.8em;
    color:#999966;
}

.index ol {
    list-style: none;
    counter-reset: contatore;
}

.index ol li {
    counter-increment: contatore;
}

.index ol li::before {
    content: counter(contatore) ". ";
    font-weight: bolder;
}


.comment {
    background-color: lime;
    padding: 0.5em 2em;
    margin-top: 5em;
}

.comment h3 {
    text-align: center;
    font-size: 1.5em;
}

.comment p {
    margin: 1em 15em;
}

.diffs {
    margin-top: 3em;
    padding-bottom: 4em;
}

.pro {
    float: left;
    margin-left: 16em;
}

.contro {
    float: right;
    margin-right: 12em;
}

.voto {
    text-align: center;
    font-size: 1.8em;
    padding-bottom: 2em;
    margin-top: 3em;
}

.titolovoto{
    background-color: rgba(127, 255, 212, 0.5);
    margin: 0.5em 1em ;
}

