#sticky {
    position: sticky;
    top: 0;
}

.pro {
    list-style-image: url("../images/icon_correct_247100.png");
}

.contro {
    list-style: url("../images/wrong_1275646.png");
}

.intestazione h1 {
    text-align: center;
    padding-top: 1.2em;
    padding-bottom: 0.5em;
    font-size: 3em;
    color: #088700
}

.shortDesc {
    padding-left: 2em;
}

.writer {
    color: #086605;
    ;
    padding-left: 2em;
}

.dataCorsivo {
    font-style: italic;
}

.index {
    color: #088700;
    border: 2px solid #0E9C09;
    float: right;
    margin: 3em 2em 1em 2em;
    padding: 1em 1em 1em 2em;
}

.index h3 {
    padding-bottom: 0.5em;
}

.description p {
    padding: 1em 1em 0 3em;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
}

.description p:nth-of-type(1) {
    padding-top: 2em;
}

.description p:last-of-type {
    padding-bottom: 2em;
}

.description h2 {
    border-bottom: 0.1em solid #088700;
    margin-left: 3.3em;
    /*margin-top: 3em;*/
    margin-right: 13.5em;
    font-size: 1.8em;
    color: black;
}

.description h2:nth-of-type(1) {
    border-bottom: 0.1em solid #088700;
    margin-left: 3.3em;
    margin-top: 2em;
    margin-right: 13.5em;
    font-size: 1.8em;
    color: black;
}

.comment {
    background-color: limegreen;
    padding: 0.5em 2em;
    margin: 0 2em;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.comment h3 {
    text-align: center;
    font-size: 2em;
}

.comment p {
    margin: 1em 4em;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
}

.diffs {
    display: flex;
    margin-left: 7em;
}

.diffs div {
    flex: 50%;
    margin: 2em;
    text-align: justify;
}

.pro h3 {
    color: green;
}

.contro h3 {
    color: red;
}

.diffs h3 {
    margin: 0.5em 0em;
}

.pro {
    font-size: 1.2em;
    line-height: 1.5em;
    float: left;
    margin-left: 16em;
}

.contro {
    font-size: 1.2em;
    line-height: 1.5em;
    float: right;
    margin-right: 12em;
}

.voto {
    display: block;
    margin: 0 auto;
    background-color: lawngreen;
    text-align: center;
    margin: 0 1em;
    font-weight: bold;
    font-size: 2em;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.description img {
    width: 50%;
    display: block;
    margin: 4em auto;
}

.index a:link {
    text-decoration: none;
    color: black;
}

.index a:hover {
    text-decoration: none;
    color: blue;
}

.index a:visited {
    text-decoration: none;
}