.intestazione h1 {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
    color: #0E9C09;
}

.shortDesc {
    padding-left: 2em;
}

.writer {
    color: #0E9C09;
    padding-left: 2em;
}

.dataCorsivo {
    font-style: italic;
}

.index {
    color: #0E9C09;
    border: 2px solid #0E9C09;
    float: right;
    margin: 3em 0 1em 2em;
    padding: 2em;
}

.index h3 {
    padding-bottom: 0.5em;
}

.description {
    text-align: justify;
    margin: 0 auto;
}

.description p {
    padding: 0 2em;
    font-size: 1.2em;
}

.description p:nth-of-type(1) {
    padding-top: 2em;
}

.description p:last-of-type {
    padding-bottom: 2em;
}


.index a:link {
    text-decoration: none;
    color: black;
}

.index a:hover {
    text-decoration: none;
    color: lawngreen;
}

.index a:visited {
    text-decoration: none;
}

.index li {
    color: #0E9C09;
}

.description img {
    width: 50%;
    display: block;
    margin: 2em auto 0 auto;
    /*margin-top: 2em;*/
}

.subtitle {
    margin-top: 2em;
    padding-left: 1em;
    margin-bottom: 1em;
    color: #0E9C09;
    font-size: 1.8em;
}

.comment {
    background-color: limegreen;
    padding: 0.5em 2em;
}

.comment h3 {
    text-align: center;
    font-size: 1.5em;
}

.comment p {
    margin: 1em 15em;
    text-align: justify;
}

.diffs {
    display: flex;
    margin-left: 7em;
}

.diffs div {
    flex: 50%;
    margin: 2em;
    text-align: justify;
}

.pro h3 {
    color: green;

}

.contro h3 {
    color: red;
}

.diffs h3 {
    margin: 0.5em 0em;
}

.pro {
    list-style-image: url("../images/icon_correct_247100.png");
}

.contro {
    list-style: url("../images/wrong_1275646.png");
}

.voto {
    display: block;
    margin: 0 auto;
    background-color: lawngreen;
    text-align: center;
    margin-top: 3em;
    font-weight: bold;
    font-size: 2em;
}
