.intestazione h1 {
    text-align: center;
    padding-top: 2.5em;
    padding-bottom: 0.5em;
    font-size: 3em;
    font-style: normal;
}

.shortDesc {
    color: rgb(141, 135, 135);
}

.writer {
    color: red;
}

.dataCorsivo {    
    font-style: oblique;
}

.index {
    border: 1px solid #000;
    float: right;
    border-style: solid;
    margin: 2.1em 1em 2em 2em;
    padding: 2em;
}

.index h3 {
    padding-bottom: 0.5em;
}

.description p {
    margin: 2em 6em;
}

.description h2 {
    border-bottom: 0.1em solid ;
    margin-left: 3.3em;
    margin-top: 3em;
    margin-right: 7em;
    font-size: 1.8em;
    color:#999966;
}
    

a {
    color:red;
}

ol {
    list-style: none;
    counter-reset: contatore;
}

ol li {
    counter-increment: contatore;
}

ol li::before {
    content: counter(contatore) ". ";
    color: red;
    font-weight: bolder;
}
  
img {
    width: 950px;
    display: block;
    margin: 0 auto;
}
  
.sottotitolo {
    border-top: solid;
    border-color: chocolate;
    padding-top: 0.5em;
    border-top-width: thick;
    margin-left: 4em;
    margin-right: 20em;
    margin-top: 3em;
    font-size: 1.8em;
}   

.comment {
    background-color: lime;
    padding: 0.5em 2em;
    margin-top: 5em;
}

.comment  h3 {
    text-align: center;
    font-size: 1.5em;
}

.comment p {
    margin: 1em 15em;
}


.diffs {
    text-align: center;
    color: rgb(17, 61, 63);
    margin-top: 6%;
    padding-bottom: 6%;
}

.contro ul {
    float: right;
}

.titolovoto{
    background-color: rgba(127, 255, 212, 0.5);
    margin: 0.5em 1em ;
}

.testo {
    text-align: left;
    margin: 5%;
    font-size: 2em;
    font-size: 1.4em;
}

h1 {
    font-size: -webkit-xxx-large;
}
