/* ---------------------- */
/*          Font          */
/* ---------------------- */

html body {
    font-family: Helvetica, Verdana, sans-serif;
    color: black;
    background-color: white;
}


/* ---------------------- */
/*          Header        */
/* ---------------------- */

.bgimage {
    clear: both;
}

#home {
    font-size: 2em;
    text-align: center;
}

#searchBar, #login, #mobileMenu, #logo img, #screenReaderHelper, #menu img, #button, #TitoloCommenti, #ListaCommenti , .emailLog img, .passwordLog img {
    display: none;
}

/* ---------------------- */
/*          Menu        */
/* ---------------------- */
#menu {
    display: none;
}


/* ---------------------------- */
/*          Top Aticles         */
/* ---------------------------- */

#topArticles {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    text-align: center;
}

#topArticles li {
    flex: 50%;
    position: relative;
    text-align: center;
    width: 30%;
    height: 25%;
    padding-bottom: 1.3em;
}

#topArticles a {
    display: inline-block;
    color: black;
}

#topArticles li img {
    width: 300px;
    height: auto;
    max-height: 170px;
    overflow: hidden;
}

#topArticleTitle {
    display: inline-block;
    width: 100%;
    padding: 0.5em;
    font-size: 1em;
    background-color: white;
}

/* ----------------------------- */
/*          Interno body         */
/* ----------------------------- */

.rightPanel {
    display: none;
}

.articleList li {
    clear: both;
    padding-top: 1em;
    margin: 0 1em 1em 1em;
    list-style-type: none;
    height: 25%;
}

.articleList li img {
    float: left;
    display: inline-block;
    overflow: hidden;
    width: auto;
    height: auto;
    max-height: 140px;
    max-width: 140px;
    margin-right: 1em;
}

.articleList li a {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

.articleListTitle {
    font-size: 0.9em;
}

.articleListDesc {
    font-weight: normal;
}

.categoriaGenerale {
    display: none;
}

#logo h1 {
    text-align: center;
    color: #136501;
    font-size: 3em;
}
/* ---------------------- */
/*          Content       */
/* ---------------------- */

.content, .content a {
    color: black;
}

#intestazione h1 {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

#shortDesc, #writer {
    padding-left: 2em;
}

#dataCorsivo {
    font-style: italic;
}

 .index {
     display: none;
 }

.description {
    text-align: justify;
    margin: 0;
}

#description p {
    padding: 0 2em;
    font-size: 1.2em;
}

.description img {
    width: 50%;
    display: block;
    margin: 2em auto 0 auto;
}

.subtitle {
    margin-top: 2em;
    padding-left: 1em;
    margin-bottom: 1em;
    font-size: 1.8em;
}

#comment {
    padding: 0.5em 2em;
}

#comment h3 {
    text-align: center;
    font-size: 1.5em;
}

#comment p {
    margin: 1em auto;
    text-align: justify;
}

#diffs {
    display: flex;
}

#diffs div {
    flex: 50%;
    margin: 2em;
    text-align: justify;
}

#diffs h3 {
    margin: 0.5em 0;
}

.voto {
    display: block;
    text-align: center;
    margin: 3em auto 0;
    font-weight: bold;
    font-size: 2em;
}



/* ---------------------- */
/*          Footer        */
/* ---------------------- */

.footerInline {
    display: none;
}

#imgsFooter {
    clear: both;
}


/* ---------------------- */
/*          Login         */
/* ---------------------- */

.signIn {
    margin: 0 auto;
    width: 28em;
}

.passwordLog {
    margin-top: 2em;
}

.FormLogin {
    border: 3px solid #136501;
    padding: 1em 2em;
    border-radius: 5px;
}

.FormLogin span {
    color: black;
}

#login img {
    display: none;
}

.imageLogin {
    padding: 0;
}

#contentLogin {
    max-width: 1300px;
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 3em;
    background-color: rgba(52, 52, 52, 1);
}

.contentLog legend {
    color: black;
    background-color: white;
    font-size: 2em;
}

.contentLog form {
    display: block;
    text-align: center;
    margin: 0 3em;

}

.contentLog label {
    display: inline-block;
    padding: 0.5em;
}

#scrittaReg {
    display: block;
    color: blue;
    margin-top: 0;
}


#AccediLogin {
    color: black;
    background-color: white;
    border-radius: 25px;
    border: 3px solid #136501;
    display: block;
    margin: 1em auto;
    padding: 0.2em 2.5em;
    font-size: 2.2em;
}

#scrittaLog {
    display: none;
}

.pulsantiLogin {
    display: block;
    margin: 2em auto 0 auto;
}

.pulsantiLogin a {
    display: none;
}

.emailLog input, .passwordLog input {
    font-size: 1.3em;
    text-align: center;
}

.ErroriForm {
    color: white;
    margin-right: 2em;
}

.ErroriForm li {
    margin-top: 0.7em;
}

#Login {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 7em 0;
}

#pulsanteLogin {
    position: absolute;
    overflow: hidden;
    left: -9999px;
}

#menuMobileLogin {
    display: none;
}
#userArea {
    display: none;
}

#logoDesktop img {
    margin: 6em;
}


/* ---------------------- */
/*      Registrazione     */
/* ---------------------- */


#ViewErrorReg {
    font-size: 1.3em;
    display: block;
    width: 100%;
}

#ViewErrorReg li {
    padding-top: 1em;
    padding-right: 4em;
    color: red;
    text-align: center;
    list-style: inside;
}

#contentRegistrazione h1 {
    color: #136501;
    text-align: center;
    font-size: 2.8em;
    margin-top: 0;
    margin-bottom: 1em;
}

.contentReg {
    color: white;
}

.contentReg legend {
    color: black;
    background-color: white;
}

.contentReg form {
    margin: 0 auto;
    width: 23em;
}

.contentReg fieldset {
    border: 3px solid #136501;
    padding: 1.8em;
    margin-top: 3em;
}

#contentRegistrazione {
    max-width: 1300px;
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 5em;
    background-color: rgba(52, 52, 52, 1);
}

.confermaAccountReg {
    margin-top: 2em;
}

.confermaAccountReg input {

    color: black;
    background-color: white;
    border-radius: 25px;
    border: 3px solid #136501;
    display: block;
    margin: 0 auto;
    padding: 0.2em 2.5em;
    font-size: 2.3em;
}

.ManageReg label {
    padding-right: 1em;
    font-size: 1.3em;
    background-color: white;
    color: black;
}

.ManageReg input {
    font-size: 1.3em;
    text-align: center;
}

.menuMobileReg {
    display: none;
}

/* ---------------------- */
/*      Area utente       */
/* ---------------------- */
#datiAccount fieldset label, #avatar img {
    display: block;
    background-color: white;
}

#AreaUtente legend {
    background-color: white;
}

#save {
    border: none;
}

#save label {
    display: none;
}

#datiAccount fieldset {
    margin: .5em 0;
}

.groupBox input {
    width: 100%;
}