#contentRegistrazione h1 {
    text-align: center;
    font-size: 2.4em;
    margin-top: 2em;
    margin-bottom: 2em;
}

form {
    margin: 0 auto;
    width: 23em;
}

fieldset {
    padding: 1.5em;
    margin: 3em;
}

#contentRegistrazione {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: aliceblue;
}

.confermaAccount {
    margin: 4em auto;
    padding-left: 4em;
}

input#bottoneConferma {
    font-size: 1.4em;
}

input#bottoneIndietro {
    font-size: 1.4em;
    margin-left: 2em;
}