@media screen and (max-device-width: 640px) {
    #header {
         display: none;
     }
 
 
      /*PARTE DEL MENU*/
    .menu {
         display: none;
    }
 
    .menuMobileReg img {
         float: left;
         width: 7em;
     }
 
     .menuMobileReg {
         display: contents;
         text-align: center;  
     }
 
     .menuMobileReg h1 {
         margin-right: 2em;
         margin-bottom: 2em;
         padding: 0.2em;
         font-size: 4em;
     }

     .contentMobileReg {
         display: none;
     }


     .contentMobileReg {
         display: contents;
     }

     .contentMobileReg form {
        margin: 0em auto;
        text-align: left;
        width: 18em;
     }

     .cc input {
         text-align: center;
         /* margin-top: 2em; */
         margin-left: 3em;
     }

     .cc {
         display: inline-flex;
         float: right;
         margin-bottom: 1.5em;
     }

    .pulsantiMobileReg input {
        font-size: 2em;
        margin-top: 2em;
        padding: 0.2em;
        border-radius: 0.2em;
    }

}