.titolo {
    text-align: center;
    font-size: 1.8em;
    margin-top: 2em;
    margin-bottom: 2em;
}

form {
    margin: 0 auto;
    width: 23em;
}

fieldset {
    padding: 1.5em;
    margin: 3em;
}

.sf {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: aliceblue;
}

input[type="nome"],
input[type="cognome"],
input[type="username"],
input[type="email"],
input[type="password"] {
    padding-right: 3em;
    padding-top: 0.3em;
    margin: 0.3em;
}
.titoloimmagine{
    display: block;
}
.avatar {
    text-align: center;
        margin: 2em;
}

.notifiche {
    text-align: center;
    margin: 3em;
}

input[type="file"] {
    padding-left: 3em;
}

.confermaAccount {
    margin-top: 8em;
    margin-bottom: 50%;
}

input.bottoneConferma {
    font-size: 1.5em;
    padding: 0.4em;
    border-radius: 2em;
    margin-right: 5em;
}

input.bottoneIndietro {
    font-size: 1.5em;
    padding: 0.4em;
    border-radius: 2em;
}
