@media screen and (max-device-width: 640px) {
    #header {
         display: none;
     }
 
     body {
         color: aliceblue;
     }
 
      /*PARTE DEL MENU*/
    .menu {
         display: none;
    }
 
    .menuMobileReg img {
         float: left;
         width: 7em;
     }
 
     .menuMobileReg {
         display: contents;
         text-align: center;  
     }
 
     .menuMobileReg h1 {
         margin-right: 2em;
         margin-bottom: 2em;
         padding: 0.2em;
         font-size: 4em;
     }

     .content {
         display: none;
     }

     .footer {
         display: none;
     }

     .contentMobileReg {
         display: contents;
     }

     .contentMobileReg form {
        margin: 0em auto;
        text-align: left;
        width: 18em;
     }

     .contentMobileReg input {
         text-align: center;
         margin-top: 2em;
     }

    input#RegistratiLoginMobile {
        margin: 2em auto;

    }

}