* {
    margin: 0;
    padding: 0;
}


/* Body */

body {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.9em;
    margin: auto;
    height: 100%;
    background-color: black;
    background-image: linear-gradient(#525252, #393939, #262626, #131313, black);
    background-repeat: no-repeat;
}


/*  Torna su  */

#button {
    position: fixed;
    border: none;
    background-color: transparent;
    bottom: 1em;
    right: 1em;
    cursor: pointer;

}

/* Header */
.screenReaderHelper, .headerChild h1, .headerChild label {
    display: block;
    height: 0;
    width: 0;
    overflow: hidden;
}


#header {
    display: flex;
    border-bottom: 0.5em solid #0E9C09;
    color: #0E9C09;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5em;
}

#mobileMenu, .hide, #menuMobileLogin, .pulsantiLogin, #pulsanteRegistrati, #scrittaLog, #RegistratiLoginMobile, .emailLog img,
.passwordLog img, .menuMobileReg, .contentMobileReg, #avatar input, #save, #ScriviCommento input, .bottoneMiPiace
{
    display: none;
}

#logo {
    flex: 20%;
    height: 90px;
}

.headerChild {
    margin-right: 1em;
}

#searchBar fieldset {
    border: none;
}

#searchBar button {
    position: relative;
    right: 2.5em;
    top: 0.4em;
    border: 0;
    background: transparent;
    cursor: pointer;
}

#searchBar input {
    position: relative;
    border-radius: 25px;
    border: 3px solid #0E9C09;
    padding: .3em 2.1em 0.3em 1em;
}



/* Menu */

#content, #menu, #AreaUtente {
    max-width: 1300px;
    margin: 0 auto;
}

#menu {
    background-color: #131313;
}

#menu ul {
    /*background-color: #131313;*/
    list-style-type: none;
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    max-width: 600px;
}

#menu li {
    flex: 20%;
    display: inline-block;
    border-right: 1px solid #dddcdc;
    text-align: center;
    margin: 0.5em 0;
}

#menu a:link {
    text-decoration: none;
    color: white;
}

#menu a:visited {
    color: inherit;
    text-decoration: none;
}

#menu a:hover {
    color: #0E9C09;
}

#menu a:active {
    text-decoration: none;
    color: white;
    outline-style: none;
}

#menu #currentlink {
    color: lawngreen;
    font-weight: bold;
}

#closeButton {
    visibility: hidden;
    position: absolute;
}


/* Content */

#content {
    background-color: white;
    padding-bottom: 1em;
}


/* Right Panel */

.rightPanel {
    background-color: white;
    list-style-type: none;
    border-left: 1px solid #dddcdc;
    border-bottom: 1px solid #dddcdc;
    padding: 0.5em 1em 1em 1em;
    margin-left: 2em;
    margin-bottom: 1em;
}

.rightPanel dt {
    font-weight: bold;
}

.rightPanel dd {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    list-style-type: none;
    padding: 1em 0;
    overflow: auto;
    text-align: justify;
    border-top: 1px solid #dddcdc;
}

.rightPanel dd:nth-of-type(1) {
    border: none;
}

.rightPanel dd:nth-of-type(4) {
    border: none;
}

.rightPanel dd:nth-of-type(5) {
    border: none;
}

.rightPanel dd img {
    width: 100%;
}

.rightPanel a {
    font-weight: normal;
}

.rightPanel a:link {
    color: black;
    text-decoration: none;
}

.rightPanel a:visited {
    color: black;
    text-decoration: none;
}

.flexContainer {
    display: flex;
}

.flexColumn:nth-of-type(1) {
    flex: 80%;
}

.flexColumn:last-of-type {
    flex: 20%;
}


.articleList li {
    border-top: 1px solid #dddcdc;
    padding-top: 1em;
    margin: 0 1em 1em 1em;
    list-style-type: none;
    overflow: auto;
}

.articleList li:nth-of-type(1) {
    border: 0;
    padding-top: 1em;
}

.articleList li img {
    height: 5.6em;
    float: left;
    width: 20%;
    margin-right: 1em;
}

.articleList li a:link {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

.articleList li a:visited {
    color: black;
    text-decoration: none;
}

.articleList li a:hover {
    color: dimgray;
    text-decoration: none;
}

.articleList li a:active {
    outline: none;
    text-decoration: none;
}

.articleListTitle {
    font-size: 0.9em;
}

.articleListDesc {
    font-weight: normal;
}

.categoriaGenerale {
    float: right;
    padding: .3em .5em;
    color: white;
}

.categoriaHardware {
    background-color: green;
}

.categoriaConsole {
    background-color: chocolate;
}

.categoriaVideogiochi {

    background-color: red;

}

.categoriaAltro {

    background-color: yellow;
    color: black;

}

.categoriaEventi {

    background-color: darkgoldenrod;

}


@media screen and (max-width: 1400px) {
    .flexColumn:last-of-type {
        display: none;
    }

    .articleList {
        width: 95%;
    }

    #button {
        right: 0.5em;
    }
}

@media only screen and (max-width: 960px) {
    #header {
        flex-wrap: wrap;
        padding-bottom: 0.5em;
        justify-content: flex-end;

    }


    .flexColumn:nth-of-type(1) {
        flex: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .topArticles {
        flex-direction: column;
    }

    .topArticles li {
        flex: 100%;
    }
}

/*
--------------------------------------------------------------------------Area Utente ----------------------------------
 */


/*--------------------------------------------LOGIN----------------------------------------------*/

/*
#menuMobileLogin img {
    display: none;
}
#menuMobileLogin h1 {
    display: none;
}
.pulsantiLogin a {
    display: none;
}
.pulsantiLogin p {
    display: none;
}
*/

#Login {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 7em 0em;
}

#pulsanteLogin {
    position: absolute;
    overflow: hidden;
    left: -9999px;
}
/*
#pulsanteRegistrati {
    display: none;
}
#scrittaLog {
    display: none;
}
#RegistratiLoginMobile {
    display: none;
}
.emailLog img {
    display: none;
}
.passwordLog img {
    display: none;
}
*/
.signIn {
    margin: 0em auto;
    width: 25em;
    padding: 1em 2em;
    background-color: white;
    border: transparent;
    border-radius: 2em;
}

.imageLogin {
    background-image: url(../images/icons/login.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    padding: 50px;
    display: block;
    margin: 0em auto;
}

#contentLogin {
    margin: 3em 0;
}

.contentLog legend {
    padding-top: 1em;
}

.contentLog form {
    padding: 2em;
    display: block;
    text-align: center;
    margin: 0em 3em;

}

.contentLog label {
    display: inline-block;
    padding: 0.5em;
}

#scrittaReg {
    display: block;
    margin-top: 3em;
    font-size: 0.8em;
}


#AccediLogin {
    font-size: x-large;
    padding: 0em 2em;
}

.pulsantiLogin {
    display: block;
    margin: 2em auto 0em auto;
}


/*--------------------------------------------FINE LOGIN--------------------------------------------*/


/*--------------------------------------------REGISTRAZIONE--------------------------------------------*/

/*
.menuMobileReg {
    display: none;
}
*/

#contentRegistrazione h1 {
    color: #0E9C09;
    text-align: center;
    font-size: 2.8em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.contentReg {
    color: white;
}

.contentReg form {
    margin: 0 auto;
    width: 23em;
}

.contentReg fieldset {
    border: 3px solid #0E9C09;
    padding: 1.5em;
    margin: 3em;
}

#contentRegistrazione {
    max-width: 1300px;
    margin: auto;
    padding-top: 0.5em;
    padding-bottom: 10em;
    background-color: rgba(52, 52, 52, 1);
}

.confermaAccountReg {
    margin-top: 6em;
}

.confermaAccountReg input {

    color: black;
    background-color: white;
    border-radius: 25px;
    border: 3px solid #0E9C09;
    display: block;
    margin: 0 auto;
    padding: 0.2em 2.5em;
    font-size: 2.3em;
}

/*
.contentMobileReg {
    display: none;
}*/

/*--------------------------------------------FINE REGISTRAZIONE--------------------------------------------*/


#AreaUtente {
    padding: 3em 0;
    background-color: rgba(52, 52, 52, 1);
    text-align: center;
    color: white;
    min-height: 300px;
}

.datiAccount fieldset {
    border-radius: 25px;
    border: 3px solid #0E9C09;

}

.datiAccount {
    max-width: 650px;
    list-style-type: none;
    margin: 2em auto 0;
    text-align: left;
    color: white;
    font-size: medium;
}

.datiAccount fieldset label {
    display: block;
    padding: 0.3em 0;
    margin: 0;
}

.datiAccount .groupBox input {
    width: 100%;
}

.datiAccount li {
    padding: 1.2em 0;
    margin-left: 5em;
}

.groupBox p {
    font-size: .8em;
    margin: .3em 0 .8em;
}

.groupBox {
    min-width: 15em;
    padding: 1em;
    margin: 1em 3em;
    border-radius: 25px;
    border-style: solid;
    border-color: #0E9C09;
    border-width: 3px
}

#avatar {
    text-align: center;
    margin: 0 auto;
    max-width: 220px;
    min-width: 50px;
    width: 100%;
}

#avatar * {
    display: block;
    width: 100%;
}
/*
#avatar input {
    display: none;
}*/

#custom-file-upload {
    padding: .3em 0;
    cursor: pointer;
    background-color: #0E9C09;
}
/*
#save {
    border: none;
}
#save input {
    display: none;
}*/

#save label {
    background-color: white;
    display: inline;
    border-style: solid;
    border-color: #0E9C09;
    border-radius: 25px;
    padding: 0.2em 0.5em;
    margin: 0 .25em;
    cursor: pointer;
    font-size: large;
    color: black;
}

#buonFine {
    background-color: rgba(50, 205, 50, 0.3);
    border-style: solid;
    border-color: #0E9C09;
    border-radius: 25px;
    margin: auto;
    max-width: 650px;
    padding: .5em;
}

#errori {
    background-color: rgba(205, 50, 50, 0.3);
    border-style: solid;
    border-color: #9C0E09;
    border-radius: 25px;
    margin: auto;
    max-width: 650px;
    padding: .5em;
}

#errori li {
    list-style: inside;
}

#logout:link {
    color: white;
}

#logout:visited {
    color: white;
}

#logout:hover {
    color: rgba(255, 255, 255, 0.7);
}

/*
---------------------------------------------------------------------fine Area Utente-----------------------------------
 */
/*
 ---------------------- Recensione e articolo ----------------------------------
*/
#sticky {
    position: sticky;
    top: 0;
}

.pro {
    list-style-image: url("../images/icons/correct.png");
}

.contro {
    list-style: url("../images/icons/wrong.png");
}

.intestazione h1 {
    margin-left: 1em;
    padding-top: 1.2em;
    padding-bottom: 0.5em;
    font-size: 3em;
    color: #088700
}

.shortDesc,
.writer {
    margin-left: 3em;
}

.shortDesc {
    margin-right: 5em;
}

.writer {
    margin-top: 0.3em;
    color: #086605;
}

.index {
    color: #088700;
    border: 2px solid #0E9C09;
    float: right;
    margin: 3em 2em 1em 2em;
    padding: 1em 1em 1em 2em;
}

.index h3 {
    padding-bottom: 0.5em;
}

.description p {
    padding: 1em 1em 0 3em;
    font-size: 1.2em;
    line-height: 1.5em;
}

.description p:first-of-type {
    padding-top: 2em;
}

.description p:last-of-type {
    padding-bottom: 2em;
}

.description h2 {
    border-bottom: 0.1em solid #088700;
    margin-left: 2em;
    margin-top: 3em;
    margin-right: 8.5em;
    font-size: 1.8em;
    color: black;
}

.comment {
    background-color: rgba(50, 205, 50, 0.4);
    margin: 0 2em;
    padding: 0.5em 2em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid limegreen;
    border-top: 0;
}

.comment h3 {
    text-align: center;
    font-size: 2em;
}

.comment p {
    margin: 1em 4em;
    font-size: 1.2em;
    line-height: 1.5em;
}

.diffs {
    display: flex;
    margin-left: 7em;
}

.diffs div {
    flex: 50%;
    margin: 2em;
}

.pro h3 {
    color: green;
}

.contro h3 {
    color: red;
}

.diffs h3 {
    margin: 0.5em 0;
}

.pro,
.contro {
    font-size: 1.2em;
    line-height: 1.5em;
}

.voto {
    display: block;
    background-color: limegreen;
    text-align: center;
    margin: 0 1em;
    font-weight: bold;
    font-size: 2em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.voto p {
    margin: 0 1em;
}

.description img {
    width: 50%;
    display: block;
    margin: 4em auto;
}

.index a:link {
    text-decoration: none;
    color: black;
}

.index a:hover {
    text-decoration: none;
    color: blue;
}

.index a:visited {
    text-decoration: none;
}

.voto p:first-of-type {
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
}

.voto p:nth-of-type(2) {
    padding-bottom: 0.5em;
}


.tornasu {
    float: right;
}

#TitoloCommenti {
    border-bottom: 0.1em solid #088700;
    font-size: 1.8em;
    color: black;
    margin: 0 2em;
}

#ListaCommenti {
    margin: 0 5em;
}

#ListaCommenti p {
    font-size: 1.3em;
    padding-bottom: 1em;
}

.commento {
    list-style-type: none;
    border: 2px solid #088700;
    border-radius: 8px;
    margin: 1em 0;
    padding: 1em;
}

.commento a:link, .commento a:visited {
    color: black;
    font-size: 1.3em;

}

.commento a:hover {
    color: blue;
}

#ListaCommenti .commento p {
    font-size: 1em;
    padding-top: .2em;
    padding-bottom: 1em;
}

.commento pre {
    font-size: 1.5em;
}

.numeroLike {
    margin-top: 1em;
    display: inline;
    margin-left: .6em;
    vertical-align: sub;
}

.commento .miPiace {
    font-size: 1em;
    margin-top: .7em;
    padding: 0.2em;
    background-image: url("../images/up.png");
    background-repeat: no-repeat;
    width: 24px;
    display: inline-block;
    vertical-align: middle;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
}

.upBlack {
    background-position: left;
}

.upGray {
    background-position: right;
}

.upBlue {
    background-position: center;
}
/*
.bottoneMiPiace {
    display: none;
}
*/
#ScriviCommento {
    margin: 1em 0 4em;
}

#ScriviCommento fieldset {
    border: none;
}

#ScriviCommento label {
    font-size: 1.5em;
}

#ScriviCommento textarea {
    display: block;
    resize: none;
    width: 100%;
    padding: .5em;
    font-size: 1.5em;
    border: 2px solid #088700;
    border-radius: 8px;
}

#ScriviCommento p {
    display: inline;
}

#ScriviCommento #commenta {
    float: right;
    border-radius: 25px;
    border: 2px solid darkgreen;
    font-size: 1.2em;
    margin: 0.3em;
    cursor: pointer;
    background-color: green;
    color: white;
    background-image: url("../images/sendW.png");
    background-repeat: no-repeat;
    background-position: right;
    padding: .2em 25px .2em .5em;
}

/*
---------------------- fine Recensione e articolo ----------------------------------
 */
/*
---------------------- index ----------------------------------
 */
* {
    box-sizing: border-box;
}

.topArticles {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    border-bottom: 1.1em solid #0E9C09;
}

.topArticles li {
    flex: 50%;
    position: relative;
    min-height: 4em;
    text-align: center;
    overflow: hidden;
    background-color: black;
}

.topArticles li img {
    width: 100%;
    height: 100%;
    /*-webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;*/
    transition: 0.8s;
}

.topArticles li img:hover {
    /*-moz-transform: scale(1.2) rotate(0deg);
    -webkit-transform: scale(1.2) rotate(0deg);
    -o-transform: scale(1.2) rotate(0deg);
    -ms-transform: scale(1.2) rotate(0deg);*/
    transform: scale(1.2) rotate(0deg);
}

.topArticles a {
    position: initial;
}

.topArticles a .topArticleTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(33, 33, 33, 0.8);
    width: 100%;
    text-align: center;
    padding: 0.5em;
    font-weight: normal;
    font-size: 1em;
}

.topArticles a:link {
    text-decoration: none;
    color: white;
}

.topArticles a:visited {
    text-decoration: none;
    color: white;
}

.topArticles a:active {
    text-decoration: none;
    color: white;
}

/* ------------------------------ */
/* ---------- Footer ------------ */

#footer {
    text-align: center;
    background-color: black;
    bottom: 0;
    padding: 1em 0 1em 0;
    color: white;
}

#footer li {
    list-style: none;
    padding-bottom: 0.7em;
}

#footer a {
    text-decoration: none;
    color: white;
}

.footerInline {
    float: left;
    width: 33.33%;
}

.footerInline p {
    font-size: 1.25em;
    margin-bottom: 0.8em;
    padding-bottom: 0.4em;
    border-bottom: 3px solid green;
}

#imgsFooter {
    clear: both;
}