* {
    margin: 0;
    padding: 0;
}

/*
---------------------- mobile ----------------------------------


@media only screen and (max-width: 900px) {

    * {
        margin: 0;
        padding: 0;
    }


    /* ------------------------------------
    /* ------------ Header ---------------
    /*      Sistemare img dentro a h1

    #header {
        display: none;
    }


    /* ---------------------------------------------------
    /* ------- Dichiarazione caratteristiche font --------

    .articleListDesc, .shortDesc, .writer, .description p, .comment p {
        font-size: 1.5em;
        line-height: 1em;
    }

    .topArticles a .topArticleTitle, .categoriaGenerale {
        font-size: 1em;
    }

    .intestazione h1 {
        font-size: 2.2em;
        color: #088700
    }

    .writer {
        color: #086605;
    }

    .index h3 {
        font-size: 1.1em;
    }

    .voto p {
        font-size: 1.5em;
    }

    .comment h3 {
        text-align: center;
        font-size: 1.5em;
    }

    .pro h3 {
        color: green;
    }

    .contro h3 {
        color: red;
    }

    /* -----------------------------------
    /* ---------- Top-Articles -----------

    .topArticles {
        flex: 100%;
        max-width: 100%;
        flex-wrap: wrap;
    }

    .topArticles li:first-of-type {
        flex: 100%
    }

    .topArticles li:nth-of-type(2) {
        flex: 50%;
    }

    .topArticles li:nth-of-type(3) {
        flex: 50%
    }

    .topArticles li:last-of-type {
        display: none;
    }


    .topArticles li img, .headerChild:nth-of-type(1) a img {
        transition: none;
    }

    .topArticles li img:hover, .headerChild:nth-of-type(1) a img:hover {
        transform: none;
    }


    /* -------------------------------------
    /* -------------- Content --------------

    .content {
        width: 100%;
    }

    .flexColumn {
        display: block;
    }

    .flexColumn:last-of-type, .menu, #search {
        display: none;
    }

    .flexColumn img {
        width: 90%;
        margin-left: 5%;
    }

    .intestazione h1 {
        margin: 3% 3% 0.7em 3%;
    }
    .shortDesc, .writer {
        padding: 0 .8em 0.9em .8em;
    }

    .index {
        font-size: 1.3em;
        margin: 1em 1em 1em 1em;
        border: 2px solid green;
    }

    .index ol {
        list-style: none;
    }

    .index li {
        margin-bottom: 7px;
    }

    .index a {
        color: black;
        text-decoration: none;
    }


    .description p, h2 {
        padding: 1em 0.5em 0 0.5em;
    }

    .description h2 {
        font-size: 1.9em;
        color: black;
    }

    .voto {
        margin-top: 5%;
        margin-bottom: 5%;
        text-align: center;
        background-color: limegreen;
    }

    .comment {
        margin: 0 1em;
        padding: 0.5em 1em;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: 2px solid limegreen;
        background-color: #32cd3266;
        border-top: 0;
    }

    .pro, .contro {
        font-size: 1.3em;
        margin: 2em 8% 2em 8%;
    }

    .pro {
        list-style-image: url("../images/icons/icon_correct_247100.png")
    }

    .contro {
        list-style-image: url("../images/icons/wrong_1275646.png");
    }


    /* ------------------------------
    /* ---------- Footer ------------

    #footer {
        display: none;
    }

}

/*
---------------------- fine mobile ----------------------------------
 */


body {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 0.9em;
    margin: auto;
    height: 100%;
    background-color: black;
    background-image: linear-gradient(#525252, #393939, #262626, #131313, black);
    background-position: center;
    background-repeat: no-repeat;
}

.headerChild:nth-of-type(1) a {

    position: initial;
}

.headerChild:nth-of-type(1) a img {
    transition: 0.4s;
}

.headerChild:nth-of-type(1) a img:hover {
    -moz-transform: scale(0.9) rotate(0deg);
    -webkit-transform: scale(0.9) rotate(0deg);
    -o-transform: scale(0.9) rotate(0deg);
    -ms-transform: scale(0.9) rotate(0deg);
    transform: scale(0.9) rotate(0deg);
}


#header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border-bottom: 0.5em solid #0E9C09;
    color: #0E9C09;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5em;
}

.headerChild:nth-of-type(1) {
    -webkit-box-flex: 10;
    -moz-box-flex: 10;
    -webkit-flex: 20%;
    -ms-flex: 20%;
    flex: 20%;
    height: 90px;
}

.bgimage {
    background-image: url("../images/icons/fantasmino-logo+scritta.png");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: contain;
}

#home {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.headerChild:nth-of-type(2) {
    margin-right: 1em;
}

.headerChild:last-of-type {
    margin-right: 1em;
}

#searchBar fieldset {
    border: none;
}

#searchBar label {
    position: absolute;
    left: -9999px;
}

#searchBar button {
    position: relative;
    right: 2.5em;
    top: 0.4em;
    border: 0;
    background: transparent;
    cursor: pointer;
}

#searchBar input {
    position: relative;
    border-radius: 25px;
    border: 3px solid #0E9C09;
    padding: .3em 2.1em 0.3em 1em;
}

.hamburger-menu {
    display: none;
}

.content, .menu {
    max-width: 1300px;
    margin: 0 auto;
}

.content {
    background-color: white;
    padding-bottom: 1em;
}

.menu {
    background-color: #131313;
}

.menu ul {
    background-color: #131313;
    list-style-type: none;
    text-align: center;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    max-width: 650px;
}

.menu li {
    flex: 20%;
    display: inline-block;
    border-right: 1px solid #dddcdc;
    text-align: center;
    margin: 0.5em 0;
}

.menu a:link {
    text-decoration: none;
    color: white;
}

.menu a:visited {
    color: inherit;
    text-decoration: none;
}

.menu a:hover, .menu #currentlink:hover {
    color: #0E9C09;
}

.menu a:active {
    text-decoration: none;
    color: white;
    outline-style: none;
}

.menu #currentlink {
    color: lawngreen;
    font-weight: bold;
}

.rightPanel {
    background-color: white;
    list-style-type: none;
    border-left: 1px solid #dddcdc;
    border-bottom: 1px solid #dddcdc;
    padding: 0.5em 1em 1em 1em;
    margin-left: 2em;
    margin-bottom: 1em;
}

.rightPanel dt {
    font-weight: bold;
}

.rightPanel dd {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    list-style-type: none;
    padding: 1em 0;
    overflow: auto;
    text-align: justify;
    border-top: 1px solid #dddcdc;
}

.rightPanel dd:nth-of-type(1) {
    border: none;
}

.rightPanel dd:nth-of-type(4) {
    border: none;
}

.rightPanel dd:nth-of-type(5) {
    border: none;
}

.rightPanel dd img {
    width: 100%;
}

.rightPanel a {
    font-weight: normal;
}

.rightPanel a:link {
    color: black;
    text-decoration: none;
}

.rightPanel a:visited {
    color: black;
    text-decoration: none;
}

.flexContainer {
    display: flex;
}

.flexColumn:nth-of-type(1) {
    flex: 80%;
}

.flexColumn:last-of-type {
    flex: 20%;
}


.articleList li {
    border-top: 1px solid #dddcdc;
    padding-top: 1em;
    margin: 0 1em 1em 1em;
    list-style-type: none;
    overflow: auto;
}

.articleList li:nth-of-type(1) {
    border: 0;
    padding-top: 1em;
}

.articleList li img {
    float: left;
    width: 20%;
    margin-right: 1em;
}

.articleList li a:link {
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}

.articleList li a:visited {
    color: black;
    text-decoration: none;
}

.articleList li a:hover {
    color: dimgray;
    text-decoration: none;
}

.articleList li a:active {
    outline: none;
    text-decoration: none;
}

.articleListTitle {
    font-size: 0.9em;
}

.articleListDesc {
    font-weight: normal;
}

.categoriaGenerale {
    float: right;
    padding: .3em .5em;
    color: white;
}

.categoriaHardware {

    background-color: green;


}

.categoriaConsole {

    background-color: chocolate;

}

.categoriaVideogiochi {

    background-color: red;

}

.categoriaAltro {

    background-color: aqua;

}

.categoriaEventi {

    background-color: darkgoldenrod;

}

.footer {
    box-sizing: border-box;
    clear: both;
    background-color: darkslateblue;
    color: whitesmoke;
    padding: 1em;
    text-align: center;
}

.hide {
    display: none;
}

@media screen and (max-width: 960px) {
    #header {
        flex-wrap: wrap;
        padding-bottom: 0.5em;
        justify-content: flex-end;

    }

    .flexColumn:last-of-type {
        display: none;
    }

    .flexColumn:nth-of-type(1) {
        flex: 100%;
    }
}


/*
--------------------------------------------------------------------------Area Utente ----------------------------------
 */

#AreaUtente {
    padding: 3em 0;
    background-color: rgba(52, 52, 52, 1);
    text-align: center;
    color: white;
    min-height: 300px;
}

.datiAccount fieldset {
    border-radius: 25px;
    border: 3px solid #0E9C09;

}

.datiAccount {
    max-width: 650px;
    list-style-type: none;
    margin: 0 auto;
    text-align: left;
    color: whitesmoke;
    font-size: medium;
}

.datiAccount fieldset label {
    display: block;
    padding: 0.3em 0;
    margin: 0;
}

.datiAccount .groupBox input{
    width: 100%;
}

.datiAccount li {
    padding: 1.2em 0;
    margin-left: 5em;
}

.groupBox {
    min-width: 15em;
    padding: 1em;
    margin: 1em 3em;
    border-radius: 25px;
    border-style: solid;
    border-color: #0E9C09;
    border-width: 3px
}

.avatar {
    float: left;
    margin-top: 2em;
    margin-left: 10%;
    margin-right: 1em;
}
.avatar *{
    display: block;
}

.avatar input {
    display: none;
}

.custom-file-upload {
    padding: .3em 0;
    cursor: pointer;
    background-color: #0E9C09;
}

.saveResets {
    float: right;
    text-align: right;
    margin: 0;
}

.saveResets #reset {
    display: inline;
    border-style: solid;
    border-color: orangered;
    border-radius: 25px;
    padding: 0.2em 0.5em;
    margin: 0 .25em;
    cursor: pointer;
    font-size: large;
}

.saveResets #save {
    display: inline;
    border-style: solid;
    border-color: #0E9C09;
    border-radius: 25px;
    padding: 0.2em 0.5em;
    margin: 0 .25em;
    cursor: pointer;
    font-size: large;
}

/*
---------------------------------------------------------------------fine Area Utente-----------------------------------
 */
/*
 ---------------------- Recensione e articolo ----------------------------------
*/
#sticky {
    position: sticky;
    top: 0;
}

.pro {
    list-style-image: url("../images/icons/icon_correct_247100.png");
}

.contro {
    list-style: url("../images/icons/wrong_1275646.png");
}

.intestazione h1 {
    margin-left: 1em;
    padding-top: 1.2em;
    padding-bottom: 0.5em;
    font-size: 3em;
    color: #088700
}

.shortDesc,
.writer {
    margin-left: 3em;
}

.shortDesc {
    margin-right: 5em;
}

.writer {
    margin-top: 0.3em;
    color: #086605;
}

.index {
    color: #088700;
    border: 2px solid #0E9C09;
    float: right;
    margin: 3em 2em 1em 2em;
    padding: 1em 1em 1em 2em;
}

.index h3 {
    padding-bottom: 0.5em;
}

.description p {
    padding: 1em 1em 0 3em;
    font-size: 1.2em;
    line-height: 1.5em;
}

.description p:first-of-type {
    padding-top: 2em;
}

.description p:last-of-type {
    padding-bottom: 2em;
}

.description h2{
    border-bottom: 0.1em solid #088700;
    margin-left: 2em;
    margin-top: 3em;
    margin-right: 8.5em;
    font-size: 1.8em;
    color: black;
}

.comment {
    background-color: rgba(50, 205, 50, 0.4);
    margin: 0 2em;
    padding: 0.5em 2em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid limegreen;
    border-top: 0;
}

.comment h3 {
    text-align: center;
    font-size: 2em;
}

.comment p {
    margin: 1em 4em;
    font-size: 1.2em;
    line-height: 1.5em;
}

.diffs {
    display: flex;
    margin-left: 7em;
}

.diffs div {
    flex: 50%;
    margin: 2em;
}

.pro h3 {
    color: green;
}

.contro h3 {
    color: red;
}

.diffs h3 {
    margin: 0.5em 0;
}

.pro,
.contro {
    font-size: 1.2em;
    line-height: 1.5em;
}

.voto {
    display: block;
    background-color: limegreen;
    text-align: center;
    margin: 0 1em;
    font-weight: bold;
    font-size: 2em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.voto p {
    margin: 0 1em;
}

.description img {
    width: 50%;
    display: block;
    margin: 4em auto;
}

.index a:link {
    text-decoration: none;
    color: black;
}

.index a:hover {
    text-decoration: none;
    color: blue;
}

.index a:visited {
    text-decoration: none;
}

.voto p:first-of-type {
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
}

.voto p:nth-of-type(2) {
    padding-bottom: 0.5em;
}


.tornasu {
    float: right;
}

#TitoloCommenti{
    border-bottom: 0.1em solid #088700;
    font-size: 1.8em;
    color: black;
    margin: 0 2em;
}

#ListaCommenti{
    margin: 0 5em;
}

.commento{
    list-style-type: none;
    border: 2px solid #088700;
    border-radius: 8px;
    margin: 1em 0;
    padding: 1em;
}
.commento a:link, .commento a:visited{
    color: black;
}
.commento a:hover{
color: blue;
}
.commento p{
    padding-bottom: 1em;
}
.commento pre{
    font-size: 1.5em;
}

#ScriviCommento{
    margin: 1em 0 4em;
}
#ScriviCommento fieldset{
    border: none;
}
#ScriviCommento label{
    font-size: 1.5em;
}
#ScriviCommento textarea{
    display: block;
    resize: none;
    width: 100%;
    padding: .5em;
    font-size: 1.5em;
    border: 2px solid #088700;
    border-radius: 8px;
}
#ScriviCommento p{
    display: inline;
}
#ScriviCommento input{
    float: right;
    border-radius: 25px;
    border: 2px solid darkgreen;
    font-size: 1.2em;
    padding: .2em .5em;
    margin: 0.3em;
    cursor: pointer;
    background-color: green;
    color: white;
}

/*
---------------------- fine Recensione e articolo ----------------------------------
 */
/*
---------------------- index ----------------------------------
 */
* {
    box-sizing: border-box;
}

.topArticles {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    border-bottom: 1.1em solid #0E9C09;
}

.topArticles li {
    flex: 50%;
    position: relative;
    min-height: 4em;
    text-align: center;
    overflow: hidden;
    background-color: black;
}

.topArticles li img {
    width: 100%;
    height: 100%;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;
}

.topArticles li img:hover {
    -moz-transform: scale(1.2) rotate(0deg);
    -webkit-transform: scale(1.2) rotate(0deg);
    -o-transform: scale(1.2) rotate(0deg);
    -ms-transform: scale(1.2) rotate(0deg);
    transform: scale(1.2) rotate(0deg);
}

.topArticles a {
    position: initial;
}

.topArticles a .topArticleTitle {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(33, 33, 33, 0.8);
    width: 100%;
    text-align: center;
    padding: 0.5em;
    font-weight: normal;
    font-size: 1em;
}

.topArticles a:link {
    text-decoration: none;
    color: white;
}

.topArticles a:visited {
    text-decoration: none;
    color: white;
}

.topArticles a:active {
    text-decoration: none;
    color: white;
}

/* ------------------------------ */
/* ---------- Footer ------------ */

    #footer {
        text-align: center;
        background-color: black;
        bottom: 0;
        padding: 1em 0 1em 0;
        color: white;
    }

    #footer li {
        list-style: none;
        padding-bottom: 0.7em;
    }

    #footer a {
        text-decoration: none;
        color: white;
    }

    .footerInline {
        float: left;
        width: 33.33%;
    }

    .footerInline p {
        font-size: 1.25em;
        margin-bottom: 0.8em;
        padding-bottom: 0.4em;
        border-bottom: 3px solid green;
    }

    #imgsFooter {
        clear: both;
    }

/*
---------------------- fine index ----------------------------------
 */
/*---------------------------*/
/*----------Mobile----------*/
/*---------------------------*/
@media only screen and (max-width: 992px) {

    /* rimozione transizioni*/
    .topArticles li img, .headerChild:nth-of-type(1) a img {

        transition: none;
    }

    .topArticles li img:hover, .headerChild:nth-of-type(1) a img:hover {

        transform: none;
    }
    /*--------------------fine----------------------------------------------------*/
    /* Dichiarazione dimensione font*/
    .articleListDesc, .shortDesc, .writer, .description p, .comment p, .pro, .contro {
        font-size: 2.5em;
        line-height: 2em;
    }

    .topArticles a .topArticleTitle, .categoriaGenerale, .index, .articleListTitle {
        font-size: 2em;
    }

    .voto p {
        font-size: 3em;
    }

    .intestazione h1, .description h2, .comment h3 {
        font-size: 5em;
    }

    /*fine dichiarazione dimensione font*/
    /*cerchero di fare una soluzione migliore con javascript(.topArticles li:last-of-type rimmarrà display none)*/
    .flexColumn:last-of-type, .menu, #search, .topArticles li:last-of-type {
        display: none;
    }
    /*-------------------------------------------------------------------------*/
    /*---------Header-----------*/
    /*Da impelementare da meglio con js non usando i display none*/
    /*---------Menu-----------*/
    /*Da impelementare da meglio con js non usando i display none*/
    /*-------- Menu --------*/
    /*-------- fine Header --------*/

    .topArticles, .diffs {
        flex-wrap: wrap;
    }

    .topArticles li:first-of-type, .diffs div {
        flex: 100%
    }

    .topArticles li:nth-of-type(2), .topArticles li:nth-of-type(3) {
        flex: 50%;
    }
    /*--------- Articoli + recensioni -------*/
    .intestazione h1 {
        margin-left: 0.3em;
        padding-top: 0.5em;
    }

    .shortDesc,
    .writer {
        margin-left: 1em;
        margin-right: 1em;
    }

    .index, .description h2 {
        border: none;
    }


    .index {
        float: none;
        margin-bottom: 0;

    }


    .description img {
        width: 95%;
        margin: 2em auto 0 auto;
    }

    .description p {
        padding: 1em 1em 0 1em;

    }

    .description h2 {
        margin: 1em 0.5em 0 0.5em;
    }

    .voto {
        margin-top: 1em;
    }


    .voto p:first-of-type {
        margin: 0 auto;
        padding-top: 0.5em;
        padding-bottom: 0.2em;
    }

    .comment {
        margin: 0 2em;
        padding: 0.5em 2em;
    }

    .comment h3 {
        text-align: center;
    }

    .comment p, .pro, .contro, .diffs h3 {
        margin: 0;

    }
    /*fine articoli + recensioni*/
    /*--------footer--------*/
    #footer {
        display: none;
    }
    /*--------fine footer------*/


}

/*
---------------------- fine mobile ----------------------------------
 */
