#titolo-news {
    background-color: orangered;
}

#titolo-recensioni {
    background-color: #109c09;
}

#titolo-eventi {
    background-color: yellow;
}

#titolo-guide {
    background-color: purple;
    color: white;
}

.titolo-schede {
    font-size: 3em;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

@media screen and (max-width: 960px) {
    .column_list {
        width: 100%;
    }
}